.databasetest-page {
}

.databasetest-title {
  margin: 15px 0;
  text-align: center;
}

.todo-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 350px);
  justify-content: center;
  gap: 15px;
  /* remove default ul padding left */
  padding-left: 0;
  font-size: 0.8rem;
}
